.env

# Loki
loki/*
!loki/loki.yml

# Grafana - refer to the below guide in case of questions
# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
grafana/*
!grafana/grafana.ini
!grafana/provisioning
grafana/provisioning/dashboards/*
grafana/provisioning/datasources/*
!grafana/provisioning/datasources/loki.yml
!grafana/provisioning/datasources/prometheus.yml
!grafana/provisioning/dashboards/dashboard.yml
!grafana/provisioning/dashboards/sentiment_application_dashboard.json
!grafana/provisioning/dashboards/main.yml

# Prometheus
prometheus/*
!prometheus/prometheus.yml.template
!prometheus/entrypoint.sh
